#help{
  border-radius: 25px;
    background: #12137c;
    padding: 20px;
    width: 1100px;
    height: 100px;
    margin-top:250px;
    color:white;
    font-family:bradley hand;
    text-align: center;
    font-size: 40px;
}

#iceberg{
  background-image: url('crop_ice.png');
}
/*
#kripa{
  background-image: url('crop_ice.png')
} */
#nav{
  background-image: url('crop_ice.png');
  font-size: 20px;
  padding-bottom: 20px;
  padding-top:15px;
}

.navbar navbar-light{
  border-radius: 25px !important;
  padding-bottom:100px;

}

#white{
  color:white;
}

.navbarNav{
  color:white !important;
}

.navbar-toggler-icon{
  color:white !important;
}

.navbar navbar-light{
  width:
}

.row{
  background-color: darkgreen;
}

#diagram{
  width: 700px;
  height: 700px;
19
#lily{
  font-size: 18px;
}
.lil{
  font-size: 19px;
}
